.gallery-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    width: 90%;
    border-radius: 10px;
    border: 2px solid #fff;
}
